body {
    font-family: sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    width: 400px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.screen.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  img {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 ::placeholder{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }